#sidebar {
  transition: width 0.3s;
  width: 250px;
}

#sidebar.collapsed {
  width: 60px;
}

#sidebar.collapsed .nav-link {
  font-size: 0;
}

#sidebar.collapsed .nav-link::before {
  font-size: 1rem;
}

#sidebar.collapsed span,
#sidebar.collapsed button i {
  display: none;
}

.container-departamento {
  background-color: #f8f9fa; /* Fondo claro */
  width: 100%;
  max-width: 400px; /* No más ancho que esto */
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
